.App {
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
  
  font-size: medium;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu > nav {
  margin-left: 50px;
}

.button {
  user-select: none;
  text-decoration: none;
}

.button:hover {
  /* font-style: italic; */
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color:rgb(255, 186, 36) ;
}

.button:active {
  background: rgb(255, 186, 36)
}

.img-mask {
  clip-path: circle(150px at 150px 185px);
  @media screen and (min-width: 1000px) {
    align-self: center;
  }
}

.img-mask {
  margin-left: 0px;
  display: block;
}

.experience-card-container {
  display: flex;
  flex-direction: row;
}

.experience-card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.experience-card-header {
  display: flex;
  flex-direction: row;
}

.experience-card-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.experience-card-date {
  width: 300px;
  margin-top: 2px;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .img-mask {
    margin-left: auto;
    margin-right: auto;
  }

  .experience-card-container {
    flex-direction: column;
  }

  .experience-card-header {
    flex-direction: column;
  }
}
