@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.App {
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'DM Serif Display';
}

h1 > span {
  font-family: 'DM Serif Display';
  font-style: italic;
  color: rgb(164, 113, 4);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
  
  font-size: medium;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu > nav {
  margin-left: 50px;
}

.button {
  user-select: none;
  text-decoration: none;
}

.button:hover {
  /* font-style: italic; */
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color:rgb(255, 186, 36) ;
}

.button:active {
  background: rgb(255, 186, 36)
}

.link{
  color: rgb(164, 113, 4);
  font-weight: 350;
}

.profile-img-container {
  align-self: center;
  margin-left: 0px;
  margin-right: 50px;
  display: block;
}

.img-mask {
  clip-path: circle(150px at 150px 150px);
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
}

.experience-card-container {
  display: flex;
  flex-direction: row;
}

.experience-card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.experience-card-header {
  display: flex;
  flex-direction: row;
}

.experience-card-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.experience-card-date {
  width: 300px;
  margin-top: 2px;
  text-align: right;
}

.social-wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.social-wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 20px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  position: fixed;
  width: 100%;
  left: 0px;
}
.social-wrapper .icon {
  text-align: center;
}
.social-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.social-wrapper .icon:hover span,
.social-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.social-wrapper .facebook:hover,
.social-wrapper .facebook:hover .tooltip,
.social-wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.social-wrapper .twitter:hover,
.social-wrapper .twitter:hover .tooltip,
.social-wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.social-wrapper .instagram:hover,
.social-wrapper .instagram:hover .tooltip,
.social-wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.social-wrapper .github:hover,
.social-wrapper .github:hover .tooltip,
.social-wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.social-wrapper .youtube:hover,
.social-wrapper .youtube:hover .tooltip,
.social-wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  h1 {
    text-align: center;
  }

  .img-mask {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .profile-wrapper {
    flex-direction: column;
  }

  .experience-card-container {
    flex-direction: column;
  }

  .experience-card-header {
    flex-direction: column;
  }
}
